* text=auto !eol
tvbrowser/deployment/common/wiki.url -text svneol=unset#application/octet-stream
tvbrowser/deployment/macosx/jarbundler-1.4.jar -text
tvbrowser/deployment/win/desktopindicator/DesktopIndicator.dll -text
tvbrowser/deployment/win/desktopindicator/DesktopIndicator.dsp -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/desktopindicator/DesktopIndicator.dsw -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/desktopindicator/Script.rc -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/desktopindicator/StdAfx.h -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/installer/Contrib/Graphics/Checks/modern.bmp -text
tvbrowser/deployment/win/installer/Contrib/Graphics/Icons/murfman-install.ico -text
tvbrowser/deployment/win/installer/Contrib/Graphics/Icons/murfman-uninstall.ico -text
tvbrowser/deployment/win/installer/Contrib/Graphics/Wizard/win.bmp -text
tvbrowser/deployment/win/installer/Contrib/Language[!!-~]files/English.nlf -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/installer/Contrib/Language[!!-~]files/German.nlf -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/installer/Contrib/Modern[!!-~]UI/System.nsh -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/installer/Contrib/UIs/modern.exe -text
tvbrowser/deployment/win/installer/Contrib/UIs/modern_nodesc.exe -text
tvbrowser/deployment/win/installer/Include/WinMessages.nsh -text svneol=unset#application/octet-stream
tvbrowser/deployment/win/installer/Plugins/InstallOptions.dll -text
tvbrowser/deployment/win/installer/Plugins/StartMenu.dll -text
tvbrowser/deployment/win/installer/Plugins/UserInfo.dll -text
tvbrowser/deployment/win/installer/makensis.exe -text
tvbrowser/deployment/win/jsmooth/lib/dtdparser113.jar -text
tvbrowser/deployment/win/jsmooth/lib/jox116.jar -text
tvbrowser/deployment/win/jsmooth/lib/jsmoothgen-ant.jar -text
tvbrowser/deployment/win/jsmooth/lib/jsmoothgen.jar -text
tvbrowser/deployment/win/jsmooth/skeletons/console-wrapper/consolewrapper.exe -text
tvbrowser/deployment/win/jsmooth/skeletons/windowed-wrapper/jwrap.exe -text
tvbrowser/deployment/x11/aclocal.m4 -text svneol=unset#application/octet-stream
tvbrowser/deployment/x11/config.guess -text svneol=unset#application/octet-stream
tvbrowser/deployment/x11/src/libDesktopIndicator.so -text
tvbrowser/deployment/x11/x11_tvbrowser_systray.kdevelop.pcs -text
tvbrowser/images/additional/TVBrowser.ico -text
tvbrowser/images/additional/desktop.ico -text
tvbrowser/images/additional/systray.ico -text
tvbrowser/images/additional/tvbrowser.icns -text
tvbrowser/images/photoshop/logo_phpBB.psd -text
tvbrowser/images/photoshop/tvabout.psd -text
tvbrowser/images/photoshop/tvb_splash.psd -text
tvbrowser/images/photoshop/tvrater/tvrater.psd -text
tvbrowser/images/photoshop/tvrater/tvrater22.psd -text
tvbrowser/images/themes/tango/16x16/actions/appointment-new.png -text
tvbrowser/images/themes/tango/16x16/actions/bookmark-new.png -text
tvbrowser/images/themes/tango/16x16/actions/close-pressed.png -text
tvbrowser/images/themes/tango/16x16/actions/document-edit.png -text
tvbrowser/images/themes/tango/16x16/actions/document-new.png -text
tvbrowser/images/themes/tango/16x16/actions/document-open.png -text
tvbrowser/images/themes/tango/16x16/actions/document-print-preview.png -text
tvbrowser/images/themes/tango/16x16/actions/document-properties.png -text
tvbrowser/images/themes/tango/16x16/actions/document-save-as.png -text
tvbrowser/images/themes/tango/16x16/actions/document-save.png -text
tvbrowser/images/themes/tango/16x16/actions/edit-copy.png -text
tvbrowser/images/themes/tango/16x16/actions/edit-delete.png -text
tvbrowser/images/themes/tango/16x16/actions/edit-find.png -text
tvbrowser/images/themes/tango/16x16/actions/edit-paste.png -text
tvbrowser/images/themes/tango/16x16/actions/go-down.png -text
tvbrowser/images/themes/tango/16x16/actions/go-next.png -text
tvbrowser/images/themes/tango/16x16/actions/go-previous.png -text
tvbrowser/images/themes/tango/16x16/actions/go-up.png -text
tvbrowser/images/themes/tango/16x16/actions/mail-message-new.png -text
tvbrowser/images/themes/tango/16x16/actions/media-playback-start.png -text
tvbrowser/images/themes/tango/16x16/actions/media-seek-forward.png -text
tvbrowser/images/themes/tango/16x16/actions/process-stop.png -text
tvbrowser/images/themes/tango/16x16/actions/system-search.png -text
tvbrowser/images/themes/tango/16x16/actions/view-refresh.png -text
tvbrowser/images/themes/tango/16x16/actions/web-search.png -text
tvbrowser/images/themes/tango/16x16/actions/zoom-in.png -text
tvbrowser/images/themes/tango/16x16/actions/zoom-out.png -text
tvbrowser/images/themes/tango/16x16/apps/appointment.png -text
tvbrowser/images/themes/tango/16x16/apps/bookmark.png -text
tvbrowser/images/themes/tango/16x16/apps/help-browser.png -text
tvbrowser/images/themes/tango/16x16/apps/internet-news-reader.png -text
tvbrowser/images/themes/tango/16x16/apps/internet-web-browser.png -text
tvbrowser/images/themes/tango/16x16/apps/office-calendar.png -text
tvbrowser/images/themes/tango/16x16/apps/preferences-desktop-font.png -text
tvbrowser/images/themes/tango/16x16/apps/preferences-desktop-locale.png -text
tvbrowser/images/themes/tango/16x16/apps/preferences-desktop-theme.png -text
tvbrowser/images/themes/tango/16x16/apps/preferences-system-network-proxy.png -text
tvbrowser/images/themes/tango/16x16/apps/system-software-update.png -text
tvbrowser/images/themes/tango/16x16/categories/preferences-desktop.png -text
tvbrowser/images/themes/tango/16x16/devices/printer.png -text
tvbrowser/images/themes/tango/16x16/emblems/emblem-symbolic-link.png -text
tvbrowser/images/themes/tango/16x16/mimetypes/video-x-generic.png -text
tvbrowser/images/themes/tango/16x16/mimetypes/x-office-calendar.png -text
tvbrowser/images/themes/tango/16x16/status/close-over.png -text
tvbrowser/images/themes/tango/16x16/status/dialog-information.png -text
tvbrowser/images/themes/tango/16x16/status/dialog-warning.png -text
tvbrowser/images/themes/tango/16x16/status/folder-open.png -text
tvbrowser/images/themes/tango/22x22/actions/appointment-new.png -text
tvbrowser/images/themes/tango/22x22/actions/document-edit.png -text
tvbrowser/images/themes/tango/22x22/actions/document-new.png -text
tvbrowser/images/themes/tango/22x22/actions/document-open.png -text
tvbrowser/images/themes/tango/22x22/actions/document-print-preview.png -text
tvbrowser/images/themes/tango/22x22/actions/document-properties.png -text
tvbrowser/images/themes/tango/22x22/actions/document-save-as.png -text
tvbrowser/images/themes/tango/22x22/actions/document-save.png -text
tvbrowser/images/themes/tango/22x22/actions/edit-copy.png -text
tvbrowser/images/themes/tango/22x22/actions/edit-delete.png -text
tvbrowser/images/themes/tango/22x22/actions/edit-find.png -text
tvbrowser/images/themes/tango/22x22/actions/edit-paste.png -text
tvbrowser/images/themes/tango/22x22/actions/format-justify-fill.png -text
tvbrowser/images/themes/tango/22x22/actions/go-down.png -text
tvbrowser/images/themes/tango/22x22/actions/go-next.png -text
tvbrowser/images/themes/tango/22x22/actions/go-previous.png -text
tvbrowser/images/themes/tango/22x22/actions/go-up.png -text
tvbrowser/images/themes/tango/22x22/actions/mail-message-new.png -text
tvbrowser/images/themes/tango/22x22/actions/media-playback-start.png -text
tvbrowser/images/themes/tango/22x22/actions/media-seek-forward.png -text
tvbrowser/images/themes/tango/22x22/actions/process-stop.png -text
tvbrowser/images/themes/tango/22x22/actions/system-search.png -text
tvbrowser/images/themes/tango/22x22/actions/view-refresh.png -text
tvbrowser/images/themes/tango/22x22/actions/web-search.png -text
tvbrowser/images/themes/tango/22x22/actions/zoom-in.png -text
tvbrowser/images/themes/tango/22x22/actions/zoom-out.png -text
tvbrowser/images/themes/tango/22x22/apps/appointment.png -text
tvbrowser/images/themes/tango/22x22/apps/bookmark.png -text
tvbrowser/images/themes/tango/22x22/apps/help-browser.png -text
tvbrowser/images/themes/tango/22x22/apps/internet-news-reader.png -text
tvbrowser/images/themes/tango/22x22/apps/internet-web-browser.png -text
tvbrowser/images/themes/tango/22x22/apps/office-calendar.png -text
tvbrowser/images/themes/tango/22x22/apps/preferences-desktop-font.png -text
tvbrowser/images/themes/tango/22x22/apps/preferences-desktop-locale.png -text
tvbrowser/images/themes/tango/22x22/apps/preferences-desktop-theme.png -text
tvbrowser/images/themes/tango/22x22/apps/preferences-system-network-proxy.png -text
tvbrowser/images/themes/tango/22x22/apps/system-software-update.png -text
tvbrowser/images/themes/tango/22x22/categories/preferences-desktop.png -text
tvbrowser/images/themes/tango/22x22/devices/printer.png -text
tvbrowser/images/themes/tango/22x22/emblems/emblem-symbolic-link.png -text
tvbrowser/images/themes/tango/22x22/mimetypes/video-x-generic.png -text
tvbrowser/images/themes/tango/22x22/mimetypes/x-office-calendar.png -text
tvbrowser/images/themes/tango/22x22/status/dialog-information.png -text
tvbrowser/images/themes/tango/22x22/status/folder-open.png -text
tvbrowser/lib/bsh-2.0b1.jar -text
tvbrowser/lib/commons-net.jar -text
tvbrowser/lib/forms-1.0.6.jar -text
tvbrowser/lib/junit.jar -text
tvbrowser/lib/l2fprod-common-tasks.jar -text
tvbrowser/lib/looks-2.0.jar -text
tvbrowser/lib/skinlf.jar -text
tvbrowser/src/blogthisplugin/blogthisplugin_sv.properties -text
tvbrowser/src/captureplugin/drivers/elgatodriver/AppleScriptRunner.java -text
tvbrowser/src/captureplugin/drivers/elgatodriver/ElgatoDevice.java -text
tvbrowser/src/captureplugin/drivers/elgatodriver/ElgatoDriver.java -text
tvbrowser/src/captureplugin/drivers/elgatodriver/elgatodriver.properties -text
tvbrowser/src/captureplugin/drivers/elgatodriver/elgatodriver_de.properties -text
tvbrowser/src/growlplugin/growlclaw.png -text
tvbrowser/src/growlplugin/growlplugin_sv.properties -text
tvbrowser/src/imgs/Bookmarks16.gif -text
tvbrowser/src/imgs/Bookmarks22.gif -text
tvbrowser/src/imgs/Filter16.png -text
tvbrowser/src/imgs/Filter22.png -text
tvbrowser/src/imgs/FilterSet16.png -text
tvbrowser/src/imgs/FilterSet22.png -text
tvbrowser/src/imgs/Info_16to9.gif -text
tvbrowser/src/imgs/Info_BlackAndWhite.gif -text
tvbrowser/src/imgs/Info_DolbyDigital51.gif -text
tvbrowser/src/imgs/Info_DolbySurround.gif -text
tvbrowser/src/imgs/Info_Mono.gif -text
tvbrowser/src/imgs/Info_OriginalWithSubtitle.gif -text
tvbrowser/src/imgs/Info_Stereo.gif -text
tvbrowser/src/imgs/Info_SubtitleForAurallyHandicapped.gif -text
tvbrowser/src/imgs/Info_TwoChannelTone.gif -text
tvbrowser/src/imgs/Jar16.gif -text
tvbrowser/src/imgs/beanshell.png -text
tvbrowser/src/imgs/columns2.jpg -text
tvbrowser/src/imgs/columns_afternoon.jpg -text
tvbrowser/src/imgs/columns_early.jpg -text
tvbrowser/src/imgs/columns_edge.jpg -text
tvbrowser/src/imgs/columns_evening.jpg -text
tvbrowser/src/imgs/columns_midday.jpg -text
tvbrowser/src/imgs/splash.png -text
tvbrowser/src/imgs/systray.ico -text
tvbrowser/src/imgs/tvabout.png -text
tvbrowser/src/imgs/tvbrowser128.png -text
tvbrowser/src/imgs/tvbrowser16.png -text
tvbrowser/src/imgs/tvbrowser32.png -text
tvbrowser/src/imgs/tvbrowser48.png -text
tvbrowser/src/justmark/justmark_sv.properties -text
tvbrowser/src/justmark/kaddressbook2.png -text
tvbrowser/src/listviewplugin/listview16.gif -text
tvbrowser/src/listviewplugin/listview24.gif -text
tvbrowser/src/mediacenterplugin/images/default_blue.jpg -text
tvbrowser/src/mediacenterplugin/images/krdc16.png -text
tvbrowser/src/mediacenterplugin/images/krdc24.png -text
tvbrowser/src/microtvbrowserplugin/M16.png -text
tvbrowser/src/printplugin/printer/singleprogramprinter/DocumentRenderer.java -text
tvbrowser/src/showviewplugin/showviewplugin_sv.properties -text
tvbrowser/src/tvbrowser/core/contextmenu/contextmenu_sv.properties -text
tvbrowser/src/tvbrowser/core/filters/filtercomponents/FavoritesFilterComponent.java -text
tvbrowser/src/tvbrowser/core/filters/filtercomponents/ReminderFilterComponent.java -text
tvbrowser/src/tvbrowser/core/plugin/JavaPluginProxy.java.withoutRename -text svneol=unset#application/octet-stream
tvbrowser/src/tvbrowser/core/search/search_sv.properties -text
tvbrowser/src/tvbrowser/extras/common/DayListCellRenderer.java -text
tvbrowser/src/tvbrowser/extras/common/common.properties -text
tvbrowser/src/tvbrowser/extras/common/common_de.properties -text
tvbrowser/src/tvbrowser/extras/common/common_sv.properties -text
tvbrowser/src/tvbrowser/extras/favoritesplugin/Sort24.gif -text
tvbrowser/src/tvbrowser/extras/favoritesplugin/core/core_sv.properties -text
tvbrowser/src/tvbrowser/extras/favoritesplugin/wizards/AbstractWizardStep.java -text
tvbrowser/src/tvbrowser/extras/favoritesplugin/wizards/RenameWizardStep.java -text
tvbrowser/src/tvbrowser/extras/favoritesplugin/wizards/wizards_sv.properties -text
tvbrowser/src/tvbrowser/extras/programinfo/ProgramInfoDesignSettingsTab.java -text
tvbrowser/src/tvbrowser/extras/programinfo/ProgramInfoFontSettingsTab.java -text
tvbrowser/src/tvbrowser/extras/programinfo/ProgramInfoOrderSettingsTab.java -text
tvbrowser/src/tvbrowser/ui/mainframe/searchfield/searchfield_sv.properties -text
tvbrowser/src/tvbrowser/ui/settings/ChannelListSettingsTab.java -text
tvbrowser/src/tvbrowser/ui/settings/TrayImportantSettingsTab.java -text
tvbrowser/src/tvbrowser/ui/settings/TrayNowSettingsTab.java -text
tvbrowser/src/tvbrowser/ui/settings/TrayOnTimeSettingsTab.java -text
tvbrowser/src/tvbrowser/ui/settings/TraySoonSettingsTab.java -text
tvbrowser/src/tvbrowserdataservice/Add24.gif -text
tvbrowser/src/tvbrowserdataservice/Information24.gif -text
tvbrowser/src/tvbrowserdataservice/Remove24.gif -text
tvbrowser/src/tvraterplugin/genre_sv.properties -text
tvbrowser/src/tvraterplugin/imgs/-1.png -text
tvbrowser/src/tvraterplugin/imgs/0.png -text
tvbrowser/src/tvraterplugin/imgs/1.png -text
tvbrowser/src/tvraterplugin/imgs/2.png -text
tvbrowser/src/tvraterplugin/imgs/3.png -text
tvbrowser/src/tvraterplugin/imgs/4.png -text
tvbrowser/src/tvraterplugin/imgs/5.png -text
tvbrowser/src/tvraterplugin/imgs/tvrater.png -text
tvbrowser/src/tvraterplugin/imgs/tvrater22.png -text
tvbrowser/src/tvraterplugin/tvraterplugin_sv.properties -text
tvbrowser/src/util/browserlauncher/browserlauncher_sv.properties -text
tvbrowser/src/util/io/io_sv.properties -text
tvbrowser/src/util/paramhandler/paramhandler_sv.properties -text
tvbrowser/src/util/program/program.properties -text
tvbrowser/src/util/program/program_de.properties -text
tvbrowser/src/util/program/program_sv.properties -text
tvbrowser/src/webplugin/altavista.gif -text
tvbrowser/src/webplugin/google.gif -text
tvbrowser/src/webplugin/imdb.gif -text
tvbrowser/src/webplugin/ofdb.gif -text
tvbrowser/src/webplugin/zelluloid.png -text
tvbrowser/themepacks/themepack.zip -text
tvbrowser/tvdatakit/workspace/TvData.xls -text
tvbrowser/tvdatakit/workspace/java/poi-2.5-final-20040302.jar -text
tvbrowser/tvdatakit/workspace/java/xercesImpl.jar -text
