* text=auto !eol
tvbrowser/installer/Contrib/Graphics/Checks/modern.bmp -text
tvbrowser/installer/Contrib/Graphics/Icons/murfman-install.ico -text
tvbrowser/installer/Contrib/Graphics/Icons/murfman-uninstall.ico -text
tvbrowser/installer/Contrib/Graphics/Wizard/win.bmp -text
tvbrowser/installer/Contrib/UIs/modern.exe -text
tvbrowser/installer/Contrib/UIs/modern_nodesc.exe -text
tvbrowser/installer/Plugins/InstallOptions.dll -text
tvbrowser/installer/Plugins/StartMenu.dll -text
tvbrowser/installer/makensis.exe -text
tvbrowser/jsmooth/lib/dtdparser113.jar -text
tvbrowser/jsmooth/lib/jox116.jar -text
tvbrowser/jsmooth/lib/jsmoothgen-ant.jar -text
tvbrowser/jsmooth/lib/jsmoothgen.jar -text
tvbrowser/jsmooth/skeletons/console-wrapper/consolewrapper.exe -text
tvbrowser/jsmooth/skeletons/console-wrapper/description.skel -text svneol=unset#application/octet-stream
tvbrowser/jsmooth/skeletons/windowed-wrapper/description.skel -text svneol=unset#application/octet-stream
tvbrowser/jsmooth/skeletons/windowed-wrapper/jwrap.exe -text
tvbrowser/lib/bsh-2.0b1.jar -text
tvbrowser/lib/commons-net.jar -text
tvbrowser/lib/forms-1.0.5.jar -text
tvbrowser/lib/junit.jar -text
tvbrowser/lib/skinlf.jar -text
tvbrowser/macosx/jarbundler-1.2.jar -text
tvbrowser/src/calendarexportplugin/calendar.png -text
tvbrowser/src/captureplugin/capturePlugin.png -text
tvbrowser/src/captureplugin/capturePlugin24.png -text
tvbrowser/src/captureplugin/drivers/defaultdriver/imgs/Delete16.gif -text
tvbrowser/src/captureplugin/drivers/defaultdriver/imgs/Down16.gif -text
tvbrowser/src/captureplugin/drivers/defaultdriver/imgs/New16.gif -text
tvbrowser/src/captureplugin/drivers/defaultdriver/imgs/Up16.gif -text
tvbrowser/src/captureplugin/tabs/Delete16.gif -text
tvbrowser/src/clipboardplugin/Delete16.gif -text
tvbrowser/src/clipboardplugin/clipboard.png -text
tvbrowser/src/clipboardplugin/clipboard24.png -text
tvbrowser/src/emailplugin/email.gif -text
tvbrowser/src/favoritesplugin/Delete16.gif -text
tvbrowser/src/favoritesplugin/Delete24.gif -text
tvbrowser/src/favoritesplugin/Down24.gif -text
tvbrowser/src/favoritesplugin/Edit16.gif -text
tvbrowser/src/favoritesplugin/Edit24.gif -text
tvbrowser/src/favoritesplugin/Import24.gif -text
tvbrowser/src/favoritesplugin/New16.gif -text
tvbrowser/src/favoritesplugin/New24.gif -text
tvbrowser/src/favoritesplugin/Sort24.gif -text
tvbrowser/src/favoritesplugin/ThumbUp16.gif -text
tvbrowser/src/favoritesplugin/Up24.gif -text
tvbrowser/src/help/de/Forward24.gif -text
tvbrowser/src/help/de/img01.png -text
tvbrowser/src/help/de/img02.png -text
tvbrowser/src/help/de/img03.png -text
tvbrowser/src/help/de/img04.png -text
tvbrowser/src/help/de/img05.png -text
tvbrowser/src/help/de/img06.png -text
tvbrowser/src/help/de/img07.png -text
tvbrowser/src/help/de/img08.png -text
tvbrowser/src/help/de/img09.png -text
tvbrowser/src/imgs/About16.gif -text
tvbrowser/src/imgs/Back24.gif -text
tvbrowser/src/imgs/Bookmarks16.gif -text
tvbrowser/src/imgs/Bookmarks24.gif -text
tvbrowser/src/imgs/Delete16.gif -text
tvbrowser/src/imgs/Delete24.gif svneol=native#unset
tvbrowser/src/imgs/Down24.gif -text
tvbrowser/src/imgs/Export16.gif -text
tvbrowser/src/imgs/Filter16.png -text
tvbrowser/src/imgs/Filter24.png -text
tvbrowser/src/imgs/FilterSet16.png -text
tvbrowser/src/imgs/FilterSet24.png -text
tvbrowser/src/imgs/Find24.gif -text
tvbrowser/src/imgs/Forward24.gif -text
tvbrowser/src/imgs/Help16.gif -text
tvbrowser/src/imgs/Host16.gif -text
tvbrowser/src/imgs/Import16.gif -text
tvbrowser/src/imgs/Info_16to9.gif -text
tvbrowser/src/imgs/Info_BlackAndWhite.gif -text
tvbrowser/src/imgs/Info_DolbyDigital51.gif -text
tvbrowser/src/imgs/Info_DolbySurround.gif -text
tvbrowser/src/imgs/Info_Mono.gif -text
tvbrowser/src/imgs/Info_OriginalWithSubtitle.gif -text
tvbrowser/src/imgs/Info_Stereo.gif -text
tvbrowser/src/imgs/Info_SubtitleForAurallyHandicapped.gif -text
tvbrowser/src/imgs/Info_TwoChannelTone.gif -text
tvbrowser/src/imgs/Jar16.gif -text
tvbrowser/src/imgs/New16.gif -text
tvbrowser/src/imgs/New24.gif -text
tvbrowser/src/imgs/Open16.gif -text
tvbrowser/src/imgs/Preferences16.gif -text
tvbrowser/src/imgs/Preferences24.gif -text
tvbrowser/src/imgs/Refresh16.gif -text
tvbrowser/src/imgs/Refresh24.gif -text
tvbrowser/src/imgs/Search16.gif -text
tvbrowser/src/imgs/SendToPlugin.png -text
tvbrowser/src/imgs/SendToPlugin24.png -text
tvbrowser/src/imgs/Server16.gif -text
tvbrowser/src/imgs/Stop24.gif -text
tvbrowser/src/imgs/TVBrowser.ico -text
tvbrowser/src/imgs/TVBrowser16.gif -text
tvbrowser/src/imgs/TVBrowser16.png -text
tvbrowser/src/imgs/TVBrowser32.gif -text
tvbrowser/src/imgs/TimeEarly24.gif -text
tvbrowser/src/imgs/TimeEvening24.gif -text
tvbrowser/src/imgs/TimeMidday24.gif -text
tvbrowser/src/imgs/TimeMorning24.gif -text
tvbrowser/src/imgs/TimeNow24.gif -text
tvbrowser/src/imgs/Up24.gif -text
tvbrowser/src/imgs/WebComponent16.gif -text
tvbrowser/src/imgs/background.jpg -text
tvbrowser/src/imgs/background2.jpg -text
tvbrowser/src/imgs/beanshell.png -text
tvbrowser/src/imgs/columns2.jpg -text
tvbrowser/src/imgs/columns_afternoon.jpg -text
tvbrowser/src/imgs/columns_early.jpg -text
tvbrowser/src/imgs/columns_edge.jpg -text
tvbrowser/src/imgs/columns_evening.jpg -text
tvbrowser/src/imgs/columns_midday.jpg -text
tvbrowser/src/imgs/down16.gif -text
tvbrowser/src/imgs/more.png -text
tvbrowser/src/imgs/splash.png -text
tvbrowser/src/imgs/tvabout.jpg -text
tvbrowser/src/imgs/up16.gif -text
tvbrowser/src/listviewplugin/listview16.gif -text
tvbrowser/src/listviewplugin/listview24.gif -text
tvbrowser/src/mediacenterplugin/images/default_blue.jpg -text
tvbrowser/src/mediacenterplugin/images/krdc16.png -text
tvbrowser/src/mediacenterplugin/images/krdc24.png -text
tvbrowser/src/newsplugin/Information16.gif -text
tvbrowser/src/newsplugin/Information24.gif -text
tvbrowser/src/newsplugin/New24.gif -text
tvbrowser/src/printplugin/imgs/Delete16.gif -text
tvbrowser/src/printplugin/imgs/New16.gif -text
tvbrowser/src/printplugin/imgs/PageSetup16.gif -text
tvbrowser/src/printplugin/imgs/Print16.gif -text
tvbrowser/src/printplugin/imgs/Print24.gif -text
tvbrowser/src/printplugin/imgs/PrintPreview16.gif -text
tvbrowser/src/printplugin/imgs/Properties16.gif -text
tvbrowser/src/programinfo/Information16.gif -text
tvbrowser/src/reminderplugin/Delete24.gif -text
tvbrowser/src/reminderplugin/TipOfTheDay16.gif -text
tvbrowser/src/reminderplugin/TipOfTheDay24.gif -text
tvbrowser/src/searchplugin/Find16.gif -text
tvbrowser/src/searchplugin/Find24.gif -text
tvbrowser/src/tvbrowser/core/plugin/JavaPluginProxy.java.withoutRename -text svneol=unset#application/octet-stream
tvbrowser/src/tvbrowserdataservice/Add24.gif -text
tvbrowser/src/tvbrowserdataservice/Information24.gif -text
tvbrowser/src/tvbrowserdataservice/Refresh24.gif -text
tvbrowser/src/tvbrowserdataservice/Remove24.gif -text
tvbrowser/src/tvraterplugin/imgs/-1.gif -text
tvbrowser/src/tvraterplugin/imgs/0.gif -text
tvbrowser/src/tvraterplugin/imgs/1.gif -text
tvbrowser/src/tvraterplugin/imgs/2.gif -text
tvbrowser/src/tvraterplugin/imgs/3.gif -text
tvbrowser/src/tvraterplugin/imgs/4.gif -text
tvbrowser/src/tvraterplugin/imgs/5.gif -text
tvbrowser/src/tvraterplugin/imgs/details16.gif -text
tvbrowser/src/tvraterplugin/imgs/listview16.gif -text
tvbrowser/src/webplugin/Delete16.gif -text
tvbrowser/src/webplugin/Down16.gif -text
tvbrowser/src/webplugin/Edit16.gif -text
tvbrowser/src/webplugin/New16.gif -text
tvbrowser/src/webplugin/Refresh16.gif -text
tvbrowser/src/webplugin/Search16.gif -text
tvbrowser/src/webplugin/Stop16.gif -text
tvbrowser/src/webplugin/Up16.gif -text
tvbrowser/src/webplugin/altavista.gif -text
tvbrowser/src/webplugin/google.gif -text
tvbrowser/src/webplugin/imdb.gif -text
tvbrowser/src/webplugin/ofdb.gif -text
tvbrowser/src/webplugin/zelluloid.png -text
tvbrowser/statcvs/statcvs.jar -text
tvbrowser/themepacks/themepack.zip -text
tvbrowser/tvdatakit/workspace/TvData.xls -text
tvbrowser/tvdatakit/workspace/java/poi-2.5-final-20040302.jar -text
tvbrowser/tvdatakit/workspace/java/xercesImpl.jar -text
tvbrowser/win/DesktopIndicator.dll -text
