* text=auto !eol
tvbrowser/installer/makensis.exe -text
tvbrowser/lib/ant.jar -text
tvbrowser/src/favoritesplugin/ThumbUp16.gif -text
tvbrowser/src/reminderplugin/TipOfTheDay16.gif -text
tvbrowser/src/searchplugin/Find24.gif -text
